# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/
dist/
dist-ssr/
*.local

# IDES
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
*.log

# Build outputs
build/
*.tsbuildinfo
